<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SudokuLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ZedGraph" publicKeyToken="02a83cbd123fcd60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.7.430" newVersion="5.1.7.430" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SudokuLibrary.Properties.Settings>
      <setting name="MAXSIZE" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="RSIZE" serializeAs="String">
        <value>360</value>
      </setting>
      <setting name="TRESHOLD_MIN" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="TRESHOLD_MAX" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="L2Gradient" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FONT" serializeAs="String">
        <value>HersheyPlain</value>
      </setting>
      <setting name="FONTSIZE" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="FONTSIZEPR" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CHAINAPPROX" serializeAs="String">
        <value>ChainApproxNone</value>
      </setting>
    </SudokuLibrary.Properties.Settings>
  </userSettings>
</configuration>